# requirements.txt
# Use this for CI or reproducible installs

# Core ML stack
tensorflow==2.15.1
keras==2.15.0
keras-tuner

# BirdNET Analyzer (local clone)
-e external/BirdNET-Analyzer[train]

# Helpful audio deps
soundfile
librosa
pyyaml
pandas

# testing
pytest>=7.0
pytest-cov>=4.0

tabulate==0.9.0
streamlit
streamlit-aggrid
altair>=5